<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>myCodey</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">myCodey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/">게시판</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link">{{ user.username }}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">내정보</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/join/">가입</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <section>
        <article>
            <ol>
                <li>메인 페이지 HTML/CSS 적용하여 만들기</li>
                <ul>
                    <li>상단 또는 왼쪽, 오른쪽에 메뉴(네비게이션)</li>
                </ul>
                <li>게시판 페이지 HTML/CSS 적용하여 만들기</li>
                <ul>
                    <li>글쓰기 버튼</li>
                    <li>검색 기능</li>
                </ul>
            </ol>
        </article>
    </section>
</body>
</html>