<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCodey 삭제</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">myCodey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/">게시판</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">로그인</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/join/">가입</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container mt-3">
        <p>{{ data.title }}</p>
        <p>삭제할 자료가 맞습니까?</p>
        <form action="/board/delete/{{ data.id }}/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <button class="btn btn-primary" type="submit">확인</button>
                <button class="btn btn-danger" type="button" onclick="location.href='/board/view/{{ data.id }}/'">취소</button>
            </div>
        </form>
    </section>
</body>
</html>