<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>myCodey 게시판</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">myCodey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/board/">게시판</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link">{{ user.username }}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">내정보</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/join/">가입</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <section class="container">
        {% if user.is_authenticated %}
            <div>
                <button class="btn btn-light" type="button" onclick="location.href='/board/write/'">글쓰기</button>
            </div>
        {% endif %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">조회수</th>
                    <th scope="col">작성일</th>
                    <th scope="col">추천</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                        <td scope="col">{{ d.id }}</td>
                        <td scope="col"><a href="/board/view/{{ d.id }}/">{{ d.title }}</a></td>
                        <td scope="col">{{ d.author }}</td>
                        <td scope="col">{{ d.view_cnt }}</td>
                        <td scope="col">{{ d.create_date|date:'Y-m-d' }}</td>
                        <td scope="col">{{ d.good_cnt }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div></div>
    </section>
</body>
</html>