<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>myCodey 게시글 보기</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">myCodey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/board/">게시판</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link">{{ user.username }}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">내정보</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/join/">가입</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <section class="container mt-3">
        <div class="card border-light">
            <div class="card-header">
                <small>번 호 : {{ data.id }}</small><br>
                <small>작성자 : {{ data.author }}</small><br>
                <small>생성일 : {{ data.create_date|date:'Y년 m월 d일 H시 i분 s초' }}</small><br>
                <small>수정일 : {{ data.update_date|date:'Y년 m월 d일 H시 i분 s초' }}</small><br>
                <h1 class="display-4 mt-3">{{ data.title }}</h1>
            </div>
            <div class="card-body">
                <p class="card-text">{{ data.content|linebreaksbr }}</p>
                <div class="form-group">
                    <button class="btn btn-outline-success" onclick="location.href='/board/good_bad/{{ data.id }}/?flag=good'">추천 <span class="badge badge-light">{{ data.good_cnt }}</span></button>
                    <button class="btn btn-outline-danger" onclick="location.href='/board/good_bad/{{ data.id }}/?flag=bad'">비추천 <span class="badge badge-light">{{ data.bad_cnt }}</span></button>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group mt-3">
                    <button class="btn btn-info" type="button" onclick="location.href='/board/'">목록</button>
                    {% if user.username == data.author %}
                        <button class="btn btn-primary" type="button" onclick="location.href='/board/update/{{ data.id }}/'">수정</button>
                        <button class="btn btn-danger" type="button" onclick="location.href='/board/delete/{{ data.id }}/'">삭제</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>
