<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">myCodey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/">게시판</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">로그인</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/join/">가입</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h1 class="display-2">회 원 가 입</h1>
        <div class="mt-3">
            <form action="/join/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">계정명</label>
                    <input class="form-control {% if user_exists %}is-invalid{% endif %}" id="id_username" type="text" name="username" value="{{ data.username }}">
                    {% if user_exists %}
                        <small class="invalid-feedback">동일한 이름의 계정이 존재합니다.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_password">패스워드</label>
                    <input class="form-control {% if pass_check %}is-invalid{% endif %}" id="id_password" type="password" name="password">
                </div>
                <div class="form-group">
                    <label for="id_pass_chk">패스워드 확인</label>
                    <input class="form-control {% if pass_check %}is-invalid{% endif %}" id="id_pass_chk" type="password" name="pass_chk">
                    {% if pass_check %}
                        <small class="invalid-feedback">올바르지 않은 패스워드 입니다.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_email">이메일</label>
                    <input class="form-control" id="id_email" type="text" name="email" value="{{ data.email }}">
                </div>
                <div class="form-group">
                    <label for="id_last_name">성</label>
                    <input class="form-control" id="id_last_name" type="text" name="last_name" value="{{ data.first_name }}">
                </div>
                <div class="form-group">
                    <label for="id_first_name">이름</label>
                    <input class="form-control" id="id_first_name" type="text" name="first_name" value="{{ data.last_name }}">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">가입</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>