<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">myCodey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/">게시판</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">로그인</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/join/">가입</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h1 class="display-2">로 그 인</h1>
        <div class="mt-3">
            <form action="/login/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">계정명</label>
                    <input class="form-control" id="id_username" type="text" name="username">
                </div>
                <div class="form-group">
                    <label for="id_password">패스워드</label>
                    <input class="form-control" id="id_password" type="password" name="password">
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="id_remember">
                    <label class="custom-control-label" for="id_remember">기억하기</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">로그인</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>